
CSI-281/Assignment2/Debug/Assignment2.exe
CSI-281/Assignment2/Debug/Assignment2.exe.recipe
CSI-281/Assignment2/Debug/Assignment2.ilk
CSI-281/Assignment2/Debug/Assignment2.log
CSI-281/Assignment2/Debug/Assignment2.obj
CSI-281/Assignment2/Debug/Assignment2.pdb
CSI-281/Assignment2/Debug/Assignment2.tlog/Assignment2.lastbuildstate
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.write.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.write.1.tlog
CSI-281/Assignment2/Debug/Generator.obj
CSI-281/Assignment2/Debug/vc142.idb
CSI-281/Assignment2/Debug/vc142.pdb
CSI-281/Assignment2/Debug/Assignment2.exe
CSI-281/Assignment2/Debug/Assignment2.exe.recipe
CSI-281/Assignment2/Debug/Assignment2.ilk
CSI-281/Assignment2/Debug/Assignment2.log
CSI-281/Assignment2/Debug/Assignment2.obj
CSI-281/Assignment2/Debug/Assignment2.pdb
CSI-281/Assignment2/Debug/Assignment2.tlog/Assignment2.lastbuildstate
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.write.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.write.1.tlog
CSI-281/Assignment2/Debug/vc142.idb
CSI-281/Assignment2/Debug/vc142.pdb
CSI-281/Assignment 1/.vs/Assignment 1/v16/.suo
CSI-281/Assignment 1/.vs/Assignment 1/v16/Browse.VC.db
CSI-281/Assignment 1/.vs/Assignment 1/v16/ipch/AutoPCH/994197edfc315070/ENCODER.ipch
CSI-281/Assignment 1/.vs/Assignment 1/v16/ipch/AutoPCH/ea050b8be8b47132/CODEBOOK.ipch
CSI-281/Assignment2/.vs/Assignment2/v16/.suo
CSI-281/Assignment2/.vs/Assignment2/v16/Browse.VC.db
CSI-281/Assignment2/.vs/Assignment2/v16/Browse.VC.db-shm
CSI-281/Assignment2/.vs/Assignment2/v16/Browse.VC.db-wal
CSI-281/Assignment2/.vs/Assignment2/v16/ipch/AutoPCH/30836bb9b03bacfd/GENERATOR.ipch
CSI-281/Assignment2/.vs/Assignment2/v16/ipch/AutoPCH/92fddd79476ad40c/GENERATOR.ipch
Assignment2\Debug
CSI-281/Assignment2/Debug/Assignment2.exe
CSI-281/Assignment2/Debug/Assignment2.exe.recipe
CSI-281/Assignment2/Debug/Assignment2.ilk
CSI-281/Assignment2/Debug/Assignment2.log
CSI-281/Assignment2/Debug/Assignment2.obj
CSI-281/Assignment2/Debug/Assignment2.pdb
CSI-281/Assignment2/Debug/Assignment2.tlog/Assignment2.lastbuildstate
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/CL.write.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.command.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.read.1.tlog
CSI-281/Assignment2/Debug/Assignment2.tlog/link.write.1.tlog
CSI-281/Assignment2/Debug/stub.obj
CSI-281/Assignment2/Debug/timerSystem.obj
CSI-281/Assignment2/Debug/vc142.idb
CSI-281/Assignment2/Debug/vc142.pdb
GPR-200\GPR200_Indices\x64
GPR-200\GPR200_Indices\GPR200_EmptyWindow\x64
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/.suo
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/Browse.VC.db
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/Browse.VC.db-shm
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/Browse.VC.db-wal
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/Browse.VC.opendb
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/ipch/AutoPCH/2f523b9e14706aee/CAMERA.ipch
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/ipch/AutoPCH/69dce3bbd99706ca/TRANSFORMATIONS.ipch
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v16/ipch/AutoPCH/df0d92e1d649358/MAIN.ipch
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc142.idb
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc142.pdb
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/1748b99e-a9d8-480d-a1cd-dbf0b8cbaa9b.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/26aa43aa-d12b-4956-aaf5-bb1c6edc4d8d.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/58105339-0607-4784-99c3-2d9f5c4e1d66.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/6000cbaa-5c7b-4bcc-b101-b487eb4c4a78.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/b46958af-50dd-45ab-b4e1-650f2b98c617.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/d2984015-667a-4311-8cb0-2b30d613a0c0.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.db
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.db-shm
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.db-wal
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.opendb
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/ipch/AutoPCH/df0d92e1d649358/MAIN.ipch
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/GPR200_Transformations.vcxproj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/1748b99e-a9d8-480d-a1cd-dbf0b8cbaa9b.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/26aa43aa-d12b-4956-aaf5-bb1c6edc4d8d.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/b46958af-50dd-45ab-b4e1-650f2b98c617.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/d2984015-667a-4311-8cb0-2b30d613a0c0.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.db
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/GPR200_Transformations.vcxproj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/1748b99e-a9d8-480d-a1cd-dbf0b8cbaa9b.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/26aa43aa-d12b-4956-aaf5-bb1c6edc4d8d.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/b46958af-50dd-45ab-b4e1-650f2b98c617.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/FileContentIndex/d2984015-667a-4311-8cb0-2b30d613a0c0.vsidx
GPR-200/GPR200_Transformations_Template/.vs/GPR200_Transformations/v17/Browse.VC.db
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/GPR200_Transformations.vcxproj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb
*.exe
*.vsidx
*.vsidx
*.obj
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc143.idb
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc143.pdb
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
*.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/camera.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/CL.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/GPR200_Transformations.lastbuildstate
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.command.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.read.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_T.81D96C17.tlog/link.write.1.tlog
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.exe.recipe
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.ilk
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/GPR200_Transformations.log
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/main.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/Shader.obj
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc143.idb
GPR-200/GPR200_Transformations_Template/GPR200_Transformations/x64/Debug/vc143.pdb
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.exe
GPR-200/GPR200_Transformations_Template/x64/Debug/GPR200_Transformations.pdb
*.vsidx
*.db
*.ipch
*.db
*.ipch
*.db
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.exe
*.pdb
GPR-200/GPR200_Lighting_Template/GPR200_Lighting/WBox/Lights.cpp
GPR-200/GPR200_Lighting_Template/GPR200_Lighting/WBox/Lights.h
GPR-200/GPR200_Lighting_Template/William Box, Final Project.zip
GPR-200/GPR200_Lighting_Template/William-Box-GPR-200-Lighting.zip
Personal Projects/N-Card Calculator/.vs/N-Card Calculator/FileContentIndex/read.lock
Personal Projects/N-Card Calculator/.vs/N-Card Calculator/v17/.suo
Personal Projects/N-Card Calculator/.vs/N-Card Calculator/v17/Browse.VC.db-shm
Personal Projects/N-Card Calculator/.vs/N-Card Calculator/v17/Browse.VC.db-wal
Personal Projects/N-Card Calculator/.vs/N-Card Calculator/v17/Browse.VC.opendb
Personal Projects/N-Card Calculator/Deck.cpp
Personal Projects/N-Card Calculator/Deck.h
Personal Projects/N-Card Calculator/N-Card Calculator.cpp
Personal Projects/N-Card Calculator/N-Card Calculator.sln
Personal Projects/N-Card Calculator/N-Card Calculator.vcxproj
Personal Projects/N-Card Calculator/N-Card Calculator.vcxproj.filters
Personal Projects/N-Card Calculator/N-Card Calculator.vcxproj.user
